.conteiner-header {
    background-color: var(--color-grey-1);

    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

    z-index: 1;

    margin: 0 auto;
}

.conteiner-header>nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 90%;
    height: 76px;
    padding: 10px;
    margin: 0 auto;

}

.conteiner-header>nav>button {
    background-color: transparent;
    color: var(--color-WhiteFixed);
    cursor: pointer;

    border: none;
    font-size: var(--font-size-text2);
    font-weight: var(--font-weigth-text2);
    line-height: var(--font-weigth-heigth2-text);
}

.criar-posts {
    margin-top: 100px;
    padding: 10px;
    width: 80vw;
    max-width: 650px;
    max-width: 713px;

    display: flex;
    flex-direction: column;
}

.conteiner-post {
    display: flex;
    flex-direction: column;
    position: relative;

    width: 92%;
    height: 350px;

    padding: 10px;
    margin: 0;

    font-family: var(--font-family);
}

.conteiner-post>img {
    width: 52px;
    height: 52px;

    position: absolute;
}

.conteiner-post>h2 {
    padding-left: 60px;
    margin-top: 5px;

    font-size: var(--font-size-title2);
    font-weight: var(--font-weigth-title2);
    line-height: var(--font-weigth-heigth2);
}

.conteiner-post>p {
    padding-left: 60px;
    margin-top: 6px;

    font-size: var(--font-size-text3);
    font-weight: var(--font-weigth-text3);
    line-height: var(--font-weigth-heigth3);
}

.input-title {
    margin-top: 40px;
    height: 52px;

    width: 100%;

    background-color: var(--color-WhiteFixed);
    border: 3px solid var(--color-grey-4);
    border-radius: 4px;
}

.input-title:hover{
    border: 3px solid var(--color-brand-1);
}

.inputi-text {

    margin-top: 20px;
    height: 125px;

    width: 100%;

    background-color: var(--color-WhiteFixed);
    border: 3px solid var(--color-grey-4);
    border-radius: 4px;
}

.inputi-text:hover{
    border: 3px solid var(--color-brand-1);
}

.conteiner-post>button {
    position: absolute;
    right: 5px;
    bottom: 0px;

    width: 70px;
    height: 38px;



    font-size: var(--font-size-text2);
    font-weight: var(--font-weigth-text2);
    line-height: var(--font-weigth-heigth2-text);

    border: none;
    border-radius: 4px;

    background-color: var(--color-brand-1);
    color: var(--color-WhiteFixed);
    cursor: pointer;
}

.conteiner-post>button:hover{
    background-color: var(--color-brand-2);
}

.sugestoes-seguir {
    margin-top: 10px;
    padding: 10px;
    width: 90%;
    max-width: 713px;

    display: flex;
    flex-direction: column;

    font-family: var(--font-family);
}

.conteiner-sugestoes {
    display: flex;
    flex-direction: column;



    width: 100%;
    height: 290px;
    padding: 10px;


}

.conteiner-sugestoes>h2 {

    padding: 10px;

    font-size: var(--font-size-title2);
    font-weight: var(--font-weigth-title2);
    line-height: var(--font-weigth-heigth2);
}

.sugestoes {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 30px;
}

.sugestoes>ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;
    height: 100%;

    gap: 10px;
}

.sugestoes>ul>li {
    display: flex;
    align-items: center;
    position: relative;

    width: 100%;
}

.sugestoes>ul>li>h2 {
    position: absolute;

    top: 14px;
    left: 70px;

    font-size: var(--font-size-title2);
    font-weight: var(--font-weigth-title2);
    line-height: var(--font-weigth-heigth2);
}

.sugestoes>ul>li>p {

    margin-top: 25px;

    font-size: var(--font-size-text2);
    font-weight: var(--font-weigth-text2);
    line-height: var(--font-weigth-heigth2-text);
}

.sugestoes>ul>li>img {
    width: 52px;
    height: 52px;
    padding: 10px;
    margin: 0;

}

.button-seguir {
    position: absolute;
    right: 10px;
    top: 10px;

    width: 68px;
    height: 28px;

    border: 1px solid var(--color-grey-1);
    border-radius: 2px;

    background-color: var(--color-WhiteFixed);
    cursor: pointer;
}

.button-seguir:hover{
    border: 1px solid var(--color-brand-1);
    background-color: #EDF2FF;
    color: var(--color-brand-1);
}

.button-seguindo {
    border: none;

    width: 85px;

    background-color: var(--color-brand-2);
    color: var(--color-WhiteFixed);
    cursor: pointer;
    
}

.posts {
    margin-top: 20px;
    padding: 10px;
    width: 90vw;
    max-width: 713px;

    display: flex;
    flex-direction: column;
}

.conteiner-posts {
    display: flex;
    flex-direction: column;
    position: relative;

    width: 100%;
    height: 260px;

    padding: 10px;
    margin: 0;
    gap: 50px;

    font-family: var(--font-family2);
}

.conteiner-posts>h1 {

    font-size: var(--font-size-title1);
    font-weight: var(--font-weigth-title1);
    line-height: var(--font-weigth-heigth1);
}

.perfils {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.perfils>li {
    display: flex;
    flex-direction: column;
    position: relative;

    margin-bottom: 20px;
}

.imgUsuario {
    width: 52px;
    height: 52px;
    margin: 0;

    position: absolute;
}

.perfils>li>h2 {
    padding-left: 60px;
    margin-top: 5px;

    font-size: var(--font-size-title2);
    font-weight: var(--font-weigth-title2);
    line-height: var(--font-weigth-heigth2);
}

.p-profisao {
    padding-left: 60px;
    margin-top: 8px;

    font-size: var(--font-size-text2);
    font-weight: var(--font-weigth-text2);
    line-height: var(--font-weigth-heigth2-text);
}

.perfils>li>h1 {

    margin-top: 30px;

    font-size: var(--font-size-title1);
    font-weight: var(--font-weigth-title1);
    line-height: var(--font-weigth-heigth1);
}

.descrition {
    margin-top: 30px;

    font-size: var(--font-size-text1);
    font-weight: var(--font-weigth-text1);
    line-height: var(--font-weigth-heigth-text1);
}

.buttonsPosts {
    margin-top: 30px;
    width: 92px;
    height: 38px;

    color: var(--color-WhiteFixed);
    background-color: var(--color-grey-1);
    cursor: pointer;

    border: none;
    border-radius: 4px;

    font-size: var(--font-size-text2);
    font-weight: var(--font-weigth-text2);
    line-height: var(--font-weigth-heigth2-text);
}

.buttonsPosts:hover{
    background-color: var(--color-grey-0);
}

.button-icon {
    display: flex; 
    align-items: center;
    position: absolute;

    width: 25px;
    height: 25px;
    left: 140px;
    bottom: 7px;
    gap: 10px;

    border: none;
    background-color: transparent;
    color: var(--color-grey-0);

    font-size: var(--font-size-text2);
    font-weight: var(--font-weigth-text2);
    line-height: var(--font-weigth-heigth2-text);
}

.img-icon {
    width: 30px;
    height: 25px;
}

.modal-conteiner {
    border: none;
    border-radius: 6px;

    width: 80%;
    max-width: 714px;
    margin-top: 110px;

    font-family: var(--font-family);
}

.modal-conteiner>div {
    display: flex;
    flex-direction: column;
    padding: 20px;

    position: relative;
}

.img-modal {
    width: 52px;
    height: 52px;
    margin: 0;

    position: absolute;
}

.name-modal {
    padding-left: 65px;
    margin-top: 3px;

    font-size: var(--font-size-title2);
    font-weight: var(--font-weigth-title2);
    line-height: var(--font-weigth-heigth2);
}

.proficao-modal {
    padding-left: 65px;
    margin-top: 8px;

    font-size: var(--font-size-text2);
    font-weight: var(--font-weigth-text2);
    line-height: var(--font-weigth-heigth2-text)
}

.title-modal {
    margin-top: 30px;

    font-size: var(--font-size-title1);
    font-weight: var(--font-weigth-title1);
    line-height: var(--font-weigth-heigth1);
}

.descrition-modal {
    margin-top: 30px;

    font-size: var(--font-size-text1);
    font-weight: var(--font-weigth-text1);
    line-height: var(--font-weigth-heigth-text1);
}

.button-close {
    position: absolute;
    right: 0px;
    top: 15px;

    border: none;
    border-radius: 100%;
    width: 40px;
    height: 40px;

    background-color: var(--color-grey-5);
    color: var(--color-grey-3);

    font-family: var(--font-family2);
    font-size: var(--font-size-title2);
    font-weight: var(--font-weigth-text1);
}

@media (min-width: 1240px) {
    .criar-posts {
        padding-left: 58px;
    }

    .conteiner-posts {
        padding-left: 58px;
    }

    .sugestoes-seguir {
        width: 450px;
        position: fixed;
        right: 50px;
        top: 85px;
    }

    .conteiner-sugestoes {
        margin-top: 0;
    }

    .conteiner-sugestoes>h1 {
        margin-top: 0;
    }

    .posts {
        width: 53%;
    }
}